<footer class="footer">
  <script type="text/javascript" src="https://booksy.com/widget/code.js?id=56453&country=fr&lang=fr"></script>
  <section>
    <a href="https://www.instagram.com/electro.derme/">
      <img class="socials__a insta" src="/assets/images/instagram.png" alt="Ma page instagram" />
    </a>

    <a href="https://www.tiktok.com/@electro.derme">
      <img class="socials__a tiktok" src="/assets/images/tiktok.png" alt="Mon TikTok" />
    </a>

    <a href="https://booksy.com/fr-fr/56453_electro-derme_instituts-de-beaute_100088_argenteuil#ba_s=seo">
      <img class="socials__a booksy" src="/assets/images/booksy.png" alt="Ma page Booksy" />
    </a>
  </section>

  <p class="brand">© Electro Derme <%= new Date().getFullYear() %></p>
</footer>

<!-- Scripts généraux -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>

// before/after swiper (Home)
new Swiper('.swiper-before-after', {
    loop: true,
    navigation: {
    nextEl: '.swiper-before-after-next',
    prevEl: '.swiper-before-after-prev',
    },
    pagination: {
    el: '.swiper-before-after-pagination',
    clickable: true,
    },
  });



// videos swiper (FAQ)
  new Swiper('.swiper-faq-videos', {
    loop: true,
    centeredSlides: true,
    slidesPerView: 3,
    spaceBetween: 20,
    navigation: {
      nextEl: '.swiper-faq-next',
      prevEl: '.swiper-faq-prev',
    },
    pagination: {
      el: '.swiper-faq-pagination',
      clickable: true,
    },
    
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const hamburger = document.querySelector(".navbar__hamburger");
    const menu = document.querySelector(".navbar__list");

    if (hamburger && menu) {
      hamburger.addEventListener("click", function () {
        menu.classList.toggle("active");
      });
    }
  });
</script>