<footer class="footer">
  <script type="text/javascript" src="https://booksy.com/widget/code.js?id=56453&country=fr&lang=fr"></script>
  <section>
    <a href="https://www.instagram.com/electro.derme/">
      <img src="/assets/images/instagram.png" alt="Ma page instagram" />
    </a>

    <a href="https://www.tiktok.com/@electro.derme">
      <img class="socials__a insta" src="/assets/images/tiktok.png" alt="Mon TikTok" />
    </a>

    <a href="https://booksy.com/fr-fr/56453_electro-derme_instituts-de-beaute_100088_argenteuil#ba_s=seo">
      <img class="socials__a booksy" src="/assets/images/booksy.png" alt="Ma page Booksy" />
    </a>
  </section>

  <p class="brand">© Electro Derme <%= new Date().getFullYear() %></p>
</footer>
