<header class="navbar__container">
     <nav class="navbar">
        <ul class="navbar__list">
            <li><a href="/" class="navbar__item">Accueil</a></li>
            <li><a href="/Electrolyse" class="navbar__item">L'électro-epilation</a></li>
            <li><a href="/Tarifs" class="navbar__item">Tarifs</a></li>
            <li><a href="/faq" class="navbar__item">FAQ</a></li>
            <li><a href="/contact" class="navbar__item">Contact</a></li>   
        </ul>

        <a class="navbar__a" href="https://booksy.com/fr-fr/56453_electro-derme_instituts-de-beaute_100088_argenteuil#ba_s=seo">
        <button class="navbar__button-appointment">Prendre RDV</button></a>
    </nav>
</header>