<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  
  <!-- Header -->
  <%- include('partials/header') %>

  <!-- Contenu spécifique à chaque page -->
  <main>
    <%- body %>
  </main>

  <!-- Footer-->
  <%- include('partials/footer') %>

</body>
</html>
