:root {
    --brown-light: #856D55;
    --brown-dark: #5A3E28;
    /* --beige-light: #B3A28E; */
    --beige-light:#F5EDE2;
    /* --beige-light:#D9D0C6; */
    --brown-darkest: #24150E;
    --greyish-beige:#F8F7F3; 
    --white:#ffffff; 
    --light-black:#0000001a;
    --light-grey:#666;
    --lighter-grey:#ccc;
    --light-black:#00000033;
    --text-color: var(--brown-darkest);  
    --header-footer-bg: var(--greyish-beige); 
    --slogan-bg: var(--greyish-beige); 
    --bg-color:var(--white); 
    --text-on-dark:var(--white);
    --button-light:var(--beige-light);
    --box-shadow:var(--light-black);
    --subtitle-color:var(--brown-dark);
    --accent-color:var(--brown-light);
    --dark--buttons:var(--brown-darkest);
    --light-info:var(--light-grey);
    --faq-answers:var(--greyish-beige);
    --table-shadow:var(--light-black);
    --background-color:var(--white);
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(100%); /* Commence à droite, hors de l'écran */
    }
    100% {
        transform: translateX(-100%); /* Se déplace complètement à gauche */
    }
}

body {
  padding: 0; 
  font-family: "Abhaya Libre", serif;
  color: var(--brown-darkest); 
  background-color: var(--bg-color); 
  line-height: 1.6; 
}

html, body{
    height: 100%;
    margin: 0;
}

/* CONTENT  */

.content {
  flex: 1; /* pousse le footer en bas */
}

/* NAVBAR */

.navbar__container{
    background-color: var(--header-footer-bg);
}

.navbar__list,
.navbar__button-appointment {
    display: none;
}

.navbar__hamburger {
    font-size: 28px;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

.navbar__list.active {
    display: block;
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    background-color: var(--greyish-beige);
}

.navbar__list li {
    margin-bottom: 6px;
}

.navbar__item {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--text-color);
}

/* HERO  */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url(/assets/images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.hero__title,
.hero__subtitle {
  color: var(--text-on-dark);
  letter-spacing: 1px;
  text-align: center; 
}

.hero__title {
  font-size: 2rem;    
  font-weight: bold;
  margin-top: 40px;
}

.hero__subtitle {
  font-size: 1.2rem;  
  font-weight: lighter;
  margin-top: 15px;
}

.hero__button {
  margin-top: 30px;
  border: none;
  border-radius: 12px;
  height: 40px;
  width: 160px;            
  background-color: var(--button-light);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}



  /* FOOTER */

  .footer {
    font-size: 0.9rem;
    padding: 1rem 0.5rem;
    background: var(--greyish-beige);
    color: var(--brown-darkest);
    text-align: center;
    padding: 1rem;
    margin-top: 16px;
  }

  .socials__a{
    width: 32px;
    height: 32px;
    padding: 0;
    margin-bottom: 6px;
}

.brand{
    font-size: 13px;
}

/* WELCOME */


.welcoming__title,
.journey__title,
.before-after__title,
.reviews__title,
.electrolysis__main-title,
.pricing__title,
.faq__title,
.contact__title {
  color: var(--brown-dark);
  margin: 24px 0 16px;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.welcoming__briefing {
  margin: 0 16px;
  margin-top: 15px;
  letter-spacing: 0.25px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}


/* JOURNEY */

.journey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 16px 0 16px;
  gap: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

.journey__photo {
  background-image: url(/assets/images/parcours.png);
  width: 100%;
  max-width: 320px;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
}

 .journey__title {
    text-align: left;
  }
  .journey__text {
    text-align: left;
  }


.journey__details {
    flex: 1; /* prend le reste de la place */
}


.accent{
    font-weight: bold;
}


/* SLOGAN */

.slogan__container {
    height: 65px;
    background-color: var(--slogan-bg);
    margin-top: 20px;
  }


.slogan__text {
    display: flex;
    animation: moveRightToLeft 50s linear infinite; 
}

.slogan__item {
    white-space: nowrap; /* Empêche le texte de passer sur plusieurs lignes */
    font-size: 25px;
    color: var(--text-color);
    padding-right: 75px; 
    display: inline-block;
    line-height: 33.25px;
    padding: 20px;
}


/* AVANT/APRES */


.swiper {
  width: 78%;
  height: auto;
}

.swiper-slide{
    text-align: center;
    justify-content: center;
    margin-bottom:20px;
    
}

.swiper-pagination{
    margin-top: 6px;
}

.swiper .swiper-button-prev{
    color:var(--brown-light);
}

.swiper .swiper-button-next{
    color: var(--brown-light);
}

 
/* Reviews */

.reviews {
    height: auto;
    
}

.reviews__container{
    width: 80%;
    margin: auto;               
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.reviews__title {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    text-align: left;
    margin-left: auto;
}



.reviews__row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;          
    width: 100%;
}



.reviews__swiper-slide {
    display: flex;
    justify-content: center;
    align-items:center;
}

.swiper .swiper-slide .review-card{
    margin : 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 50px;
    height:55vh;
    width: auto;
}

.review-card {
    
    background:var(--bg-color);
    border-radius: 8px;
    box-shadow: 0 2px 2px var(--box-shadow);
    padding: 16px;
    text-align: center;
    justify-content: center;
}

.review-rating {
    font-size: 1.5rem;
    color: var(--brown-light);
    margin-bottom: 8px;
}

.review-comment {
   
    font-size: 1rem;
    margin-bottom: 12px;
    letter-spacing: 1px;
    text-align: center;
}

.review-author {
    font-weight: bold;
    color:var(--accent-color);
}



/* ELECTROLYSIS */

.electrolysis__container{
    margin: 0px 100px 0px;
}

.electrolysis__subtitle{
    color: var(--subtitle-color);
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    letter-spacing: 1px;
}

.electrolysis-presentation__text{
    letter-spacing: 1px;
    line-height: 30px; 
    font-size: 16px;
    margin-bottom: 26px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.electrolysis__btn-container{
    justify-content: center;
    text-align: center;
}

.electrolysis__button{
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    height:40px;
    width: 200px;
    background-color: var(--dark--buttons);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--text-on-dark);
    
}

/* PRICING */

.pricing__container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.pricing__table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3rem;
}

.princing__table-header {
  font-weight: bold;
  padding: 0.75rem 0;
  border-bottom: 2px solid var(--accent-color); 
}

.pricing__th, .session__th {
  color: var(--brown-dark);
  font-size: 22.5px;
  margin-top: 16px;
  font-weight: bold;
}

.pricing__table td {
  padding: 1rem 0;
  border-bottom: .5px solid var(--accent-color); 
}

.pricing__table tbody tr:last-child td {
  border-bottom: none; 
}

.alignr {
  text-align: end;
}

.alignl{
    text-align: left;
}

.pricing__session-price {
  font-weight: bold;
  font-size: 1.1rem;
}

.pricing__session-note {
  font-size: 0.85rem;
  color: var(--light-info);
  margin-top: 0.25rem;
}

.pricing__session-details{
    padding-top: 6px;
    font-size: 14px;
}


/* FAQ */

.faq__container {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video__container {
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq__video{
    width: 55%;        
    height: auto;      
    object-fit: contain;
}

.video__button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    font-size: 10px;
    background-color: var(--brown-dark);
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.faq{
    width:80% ;
    margin-top: 0.5rem;
    cursor:pointer
}

.faq__question{
     display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brown-darkest);
    color:var(--text-on-dark);
    padding: 10px 5px ;
}

.faq__question h3{
    font-size: 1.8rem;
}

.svg path{
  stroke: var(--text-on-dark);
}
.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

.faq__answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    background-color: var(--faq-answers); 
}

.faq.active .faq__answer{
    max-height:600px;
    animation: fade 1s ease-in-out;
}


@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.faq__answer-content strong {
    font-weight: bold;
}

/* CONTACT */

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}


.contact-info a {
    color:var(--subtitle-color);
    text-decoration: none;
    font-size: 1rem;
}

.contact-info a:hover {
    text-decoration: underline;
}

.opening-hour__title{
    margin-bottom: 16px;
    color: var(--brown-darkest);
    font-size: 20px;
    font-weight: bold;
    text-align:center;
}

.contact__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.opening-hours-block {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.today{
    font-weight: bold;
    font-size: larger;
}

.opening-hour__card {
    width: 150%;
    justify-content: center;
    background-color: var(--background-color);
    text-align: center;
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 1.2em;
    padding: 16px;
    box-shadow: 0 4px 8px var(--light-black);
    border-radius: 12px;
    color: var(--text-color);
}

.opening-hour__day {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 8px 0;
    border-bottom: 1px solid var(--lighter-grey); 
    font-size: 20px;
}

.other-day{
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opening-hour__day:last-child{
    border-bottom: none;
}



.map{
    height: auto;
    margin: 0 44px;
}

.contact__details{
    text-align: center;
    justify-content:center ;
}

/* 404 */

.error-message__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.error-message__title{
    font-size: 1.5em;
    color: var(--subtitle-color);

}

.error__text{
    color: var(--text-color);
    margin: 44px 0 32px;
    font-size: 36.8px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.return__link{
    color: var(--text-color);
    margin-top: 16px;
    font-size: 1.8em;
    text-decoration: underline;
}


/* RESPONSIVE DESIGN */

/* TABLETTE & DESKTOP */

@media (min-width: 806px) {
  .navbar__hamburger {
    display: none;
  }
 /* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}


  .navbar__list {
    display: flex !important;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar__list li {
    margin: 0;
  }

  .navbar__item {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
  }
  .navbar__item:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}


.navbar__button-appointment {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--brown-darkest);
    color: var(--text-on-dark);
    text-decoration: none;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    }

/* HERO */

.hero__title, .hero__subtitle {
    color: var(--white);
    letter-spacing: 1px;

}

.hero__title{
    font-size: 5em;
    font-weight: bold;
    margin-top: 137px;
}

.hero__subtitle{
    font-size: 2.5rem;
    font-weight: lighter;
    
}

.hero__button{
    margin-top: 50px;
    height:40px;
    width: 200px;
    background-color: var(--beige-light);
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;

}

/* WELCOME */

.welcoming__title, 
.journey__title,
.before-after__title, 
.reviews__title,
.electrolysis__main-title, 
.pricing__title, .faq__title, 
.contact__title {

    color: var(--brown-dark);
    margin: 44px 0 32px;
    font-size: 36.8px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.welcoming__briefing {
    margin-left: 200px;
    margin-right:200px;
    margin-top:25px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

/* JOURNEY */

.journey {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;         
    margin: 150px 200px 0 200px; 
    gap: 40px;
    font-size: 24px;
    line-height: 28px;
}

.journey__photo {
    max-width: 400px;
    aspect-ratio: 1 / 1;       
}

.journey__title{
    margin-top: 10px;
    text-align: left;
}

.journey__text {
    letter-spacing: 0.25px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;               
}
/* SLOGAN */

.slogan__container {
    width: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
    margin-top: 25px;
    line-height: 33.25px;
    overflow: hidden;
}
 /* AVANT/APRES */

.before-after__title{
    text-align: left;
    margin: 30px 40px 32px;
}

/* REVIEWS */

.reviews__title {
    font-size: 2rem;
    letter-spacing: 1px;
    text-align: left;
}

.swiper .swiper-slide .review-card{
    width: 200px;
    height: 550px;
}

/* CONTACT */

.contact-info {
    margin-bottom: 40px;
}

.contact__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.opening-hour__title{
    font-size: 24px;
}

.opening-hour__day {
    font-size: 22px;
}

}
