:root {
    --brown-light: #856D55;
    --brown-dark: #5A3E28;
    /* --beige-light: #B3A28E; */
    --beige-light:#F5EDE2;
    /* --beige-light:#D9D0C6; */
    --brown-darkest: #24150E;
    --greyish-beige:#F8F7F3; 
    --white:#ffffff; 
    --text-color: var(--brown-darkest);  
    --header-footer-bg: var(--greyish-beige); 
    --slogan-bg: var(--greyish-beige); 
    --bg-color:var(--white); 
    --text-on-dark:var(--white);
    --button-light:var(--beige-light);

}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(100%); /* Commence à droite, hors de l'écran */
    }
    100% {
        transform: translateX(-100%); /* Se déplace complètement à gauche */
    }
}

body {
  padding: 0; 
  font-family: "Abhaya Libre", serif;
  color: var(--brown-darkest); 
  background-color: var(--bg-color); 
  line-height: 1.6; 
}

html, body{
    height: 100%;
    margin: 0;
}

/* CONTENT  */

.content {
  flex: 1; /* pousse le footer en bas */
}


/* NAVBAR */

.navbar__container{
    align-items:center ;
    background-color: var(--header-footer-bg);
    height: 45px;
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding:12px;
    background-color: var(--color-bg);
}

.navbar__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap:2rem;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    padding-left: 12px;
}

.navbar__item:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.navbar__button-appointment{
    align-items: center;
    border: none;
    border-radius: 6px;
    height:30px;
    width: 130px;
    background-color: var(--brown-darkest);
    color: var(--text-on-dark);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar__a {
    display: block;
    padding: 10px 20px;

}


/* HERO */

.hero {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:95vh;
    width: 100%;
    background-image: url(/assets/images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__title, .hero__subtitle {
    color: var(--text-on-dark);
    letter-spacing: 1px;

}

.hero__title{
    font-size: 5em;
    font-weight: bold;
    margin-top: 137px;
}

.hero__subtitle{
    font-size: 2.5rem;
    font-weight: lighter;
}

.hero__button{
    margin-top: 50px;
    border: none;
    border-radius: 12px;
    height:40px;
    width: 200px;
    background-color: var(--button-light);
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}



  /* FOOTER */

  .footer {
    font-size: 0.9rem;
    padding: 1rem 0.5rem;
    background: var(--greyish-beige);
    color: var(--brown-darkest);
    text-align: center;
    padding: 1rem;
    margin-top: 16px;
  }

  .socials__a{
    width: 32px;
    height: 32px;
    padding: 0;
    margin-bottom: 6px;
}

.brand{
    font-size: 13px;
}

/* WELCOME */

.welcoming__title, .journey__title,.before-after__title {

    color: var(--brown-dark);
    margin: 44px 0 32px;
    font-size: 36.8px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.welcoming__briefing {
    margin-left: 200px;
    margin-right:200px;
    margin-top:25px;
    letter-spacing: 0.25px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}


/* JOURNEY */

.journey {
    display: flex;
    justify-content: center; 
    align-items: center;         
    margin: 150px 200px 0 200px; 
    gap: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.journey__photo {
    background-image: url(/assets/images/parcours.png);
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;       
    background-size: cover;
    background-position: center;
}

.journey__title{
    text-align: left;
    margin-top: 10px;
}

.journey__details {
    flex: 1; /* prend le reste de la place */
}

.journey__text {
    text-align: left;
    letter-spacing: 0.25px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;               
}
.accent{
    font-weight: bold;
}


/* SLOGAN */

.slogan__container {
    width: 100%; 
    background-color: var(--slogan-bg);
    height: 65px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
    margin-top: 25px;
    line-height: 33.25px;
    overflow: hidden;
}

.slogan__text {
    display: flex;
    animation: moveRightToLeft 50s linear infinite; 
}

.slogan__item {
    white-space: nowrap; /* Empêche le texte de passer sur plusieurs lignes */
    font-size: 25px;
    color: var(--text-color);
    padding-right: 75px; 
    display: inline-block;
    line-height: 33.25px;
    padding: 20px;
}


/* AVANT/APRES */

 .before-after__title{
  text-align: left;
  margin: 30px 40px 32px;
}

.swiper {
  width: 650px;
  height: 450px;
}

.swiper-slide{
    text-align: center;
    justify-content: center;
    margin-bottom: px;
    
}

.swiper-pagination{
    margin-top: 6px;
}

.swiper .swiper-button-prev{
    color:var(--brown-light);
}

.swiper .swiper-button-next{
    color: var(--brown-light);
}



   