
<section class="error-message__container">

    <h1 class="error-message__title">404</h1>
    <p class="error__text">La page que vous cherchez n’existe pas.</p>
    <a href="/" class="return__link">Retour à l’accueil</a>
    
</section>

