<section class="electrolysis__container">
  <section class="electrolysis-presentation__banner">

    <h2 class="electrolysis__main-title">Epilation définitive par électro-épilation</h2>
    <h3 class="electrolysis__subtitle">Qu'est-ce que l'électro-épilation ?</h3>

    <section class="electrolysis-presentation__text">
      <p>
        L’<strong>électro-épilation</strong> comprend <strong>l’électrolyse</strong> et la
        <strong>thermolyse</strong>, il s’agit de la seule méthode d’<strong>épilation définitive</strong> au poil à poil.
      </p><br>

      <p>
        Elle consiste à insérer un <strong>filament très fin</strong> à la base
        du poil, puis à envoyer un <strong>courant de faible intensité</strong> pour <strong>détruire définitivement le bulbe pileux</strong>. Résultat : le poil ne repousse plus.
      </p>

      <p>
        Contrairement au laser ou à la lumière pulsée,
        l’électrolyse est efficace sur <strong>tous les types de peaux</strong> (claires, mates, foncées) et <strong>toutes les natures de poils</strong>, même fins, clairs, ou hormonaux.
      </p><br>

      <p>
        Elle convient donc parfaitement aux <strong>zones sensibles</strong> comme le visage, les seins, le ventre ou le maillot.
      </p>

      <p>
        C’est une méthode <strong>minutieuse, 100 % personnalisée</strong>, qui demande précision, régularité et patience, mais qui offre des <strong>résultats durables et visibles</strong>.
      </p><br>

      <p>
        <strong>Chez Electro Derme, je t’accompagne avec sérieux et douceur séance après séance, pour cibler ????</strong>
      </p>
    </section>

    <div class="electrolysis__btn-container">
      <a href="https://booksy.com/fr-fr/56453_electro-derme_instituts-de-beaute_100088_argenteuil#ba_s=seo" class="presentation__banner-link">
        <button class="electrolysis__button">Prendre RDV</button>
      </a>
    </div>

  </section>
</section>
