<main>
  <!-- HERO -->
  <section class="hero">
    <h1 class="hero__title">Epilation définitive</h1>
    <h2 class="hero__subtitle">Experte en électro-epilation</h2>
    <a
      class="hero__a"
      href="https://booksy.com/fr-fr/56453_electro-derme_instituts-de-beaute_100088_argenteuil#ba_s=seo"
    >
      <button class="hero__button">Prendre RDV</button>
    </a>
  </section>

  <!-- WELCOME -->
  <section class="welcoming__text">
    <h2 class="welcoming__title">Bienvenue chez Electro Derme</h2>
    <div class="welcoming__briefing">
      <p>Ici, tu es chez toi.</p>
      <br />
      <p>
        Je t'accueille dans un espace pensé pour toi, où chaque séance est un
        moment d’écoute, de soin et de confiance.
      </p>
      <p>
        L’électro-épilation, c’est bien plus qu’une simple méthode d’épilation
        définitive : c’est un chemin vers une peau nette, et un esprit libre.
      </p>
      <br />
      <p>
        Que tu sois complexée, curieuse ou déjà convaincue : je t’accompagne
        avec douceur, sans jugement, et toujours avec passion.
      </p>
    </div>
  </section>

 <!-- Ligne de séparation -->
  <hr />

  <!-- JOURNEY -->
  <section class="journey">
    <section class="journey__photo">
      <!-- Photo ici -->
    </section>

    <section class="journey-details">
      <h2 class="journey__title">Mon parcours</h2>
      <div class="journey__text">
        <p>
          Moi, c’est <strong class="accent">N’johr</strong>, fondatrice
          d’<strong class="accent">Electro Derme</strong>.
        </p>
        <br />
        <p>
          J’ai choisi de vivre de ma passion et d’accompagner les femmes dans
          leur rapport à la féminité grâce à une solution d’épilation réellement
          définitive.
        </p>
        <br />
        <p>
          <strong class="accent">Esthéticienne diplômée</strong> et
          <strong class="accent">certifiée Dectro International</strong>, je
          suis spécialisée en électro-épilation.
        </p>
        <br />
        <p>
          J’interviens sur <strong class="accent">tous les types de peaux</strong>, avec une expertise particulière des
          <strong class="accent">peaux mates à foncées</strong>, encore trop
          souvent oubliées ou mal prises en charge par les méthodes classiques.
        </p>
      </div>
    </section>
  </section>

  <!-- SLOGAN -->
  <section class="slogan__container">
    <div class="slogan__text">
      <span class="slogan__item">Désinfecter | Hydrater | Protéger |</span>
      <span class="slogan__item">Désinfecter | Hydrater | Protéger |</span>
      <span class="slogan__item">Désinfecter | Hydrater | Protéger |</span>
    </div>
  </section>

  <!-- AVANT/APRES -->
  <section class="before-after">
    <div>
      <h2 class="before-after__title">Avant / Après</h2>
    </div>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="/assets/images/avant1.png" alt="Avant 1" />
          <img src="/assets/images/apres1.png" alt="Après 1" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/images/avant2.png" alt="Avant 2" />
          <img src="/assets/images/apres2.png" alt="Après 2" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/images/avant3.png" alt="Avant 3" />
          <img src="/assets/images/apres3.png" alt="Après 3" />
        </div>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section>

  <!-- REVIEWS -->
  <section class="reviews__container">
    <h2 class="reviews__title">Vos <br> avis</h2>
    <div class="reviews__row">
      <div class="swiper reviews">
        <div class="swiper-wrapper reviews__swiper-wrapper">
          <div class="swiper-slide reviews__swiper-slide">
            <div class="review-card">
              <div class="review-rating">★★★★★</div>
              <p class="review-comment">Super</p>
              <p class="review-author">Chloé C.</p>
            </div>
          </div>

          <div class="swiper-slide reviews__swiper-slide">
            <div class="review-card">
              <div class="review-rating">★★★★★</div>
              <p class="review-comment">Toujours au top</p>
              <p class="review-author">— Sarah</p>
            </div>
          </div>

          <div class="swiper-slide reviews__swiper-slide">
            <div class="review-card">
              <div class="review-rating">★★★★★</div>
              <p class="review-comment">
                Je suis plus que satisfaite ! Un service à l'écoute,
                chaleureux, attentif et d'une grande amabilité. Je 
                recommande à 100%, les yeux fermés!
              </p>
              <p class="review-author">Emine D</p>
            </div>
          </div>

          <div class="swiper-slide reviews__swiper-slide">
            <div class="review-card">
              <div class="review-rating">★★★★★</div>
              <p class="review-comment">
                Bienveillante et très à l'écoute. Merci pour cetyte séance
                instructive et bienveillante
              </p>
              <p class="review-author">Inès</p>
            </div>
          </div>

          <div class="swiper-slide reviews__swiper-slide">
            <div class="review-card">
              <div class="review-rating">★★★★★</div>
              <p class="review-comment">
                Je suis totalement satisfaite de sa prestation elle est très à
                l'écoute bienveillante et super compréhensible je suis
                complètement conquise
              </p>
              <p class="review-author">Abalo V</p>
            </div>
          </div>

          <div class="swiper-slide reviews__swiper-slide">
            <div class="review-card">
              <div class="review-rating">★★★★★</div>
              <p class="review-comment">
                ¨Prestation qui s'est très bien déroulée très pro et accueillante
                a pris le temps de m'expliquer les différentes étapes
              </p>
              <p class="review-author">Dienaba S</p>
            </div>
          </div>

          <div class="swiper-slide reviews__swiper-slide">
            <div class="review-card">
              <div class="review-rating">★★★★★</div>
              <p class="review-comment">
                Quand le professionalisme rencotre la gentillesse 🫶✨ Merci pour
                tout
              </p>
              <p class="review-author">Zahra M</p>
            </div>
          </div>

          <div class="swiper-slide reviews__swiper-slide">
            <div class="review-card">
              <div class="review-rating">★★★★★</div>
              <p class="review-comment">Top</p>
              <p class="review-author">Kamanango C</p>
            </div>
          </div>
        </div>

        <div class="swiper-pagination reviews__swiper-pagination"></div>
        <div class="swiper-button-prev reviews__swiper-button-prev"></div>
        <div class="swiper-button-next reviews__swiper-button-next"></div>
      </div>
    </div>
  </section>
</main>
